@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container button {
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 40px;
  background-color: black;
  color: white;
  transition-duration: 500ms;
  border-radius: 0.2rem;
  user-select: none;
}

.container button:hover {
  color: black;
  background-color: white;
  transition-duration: 500ms;
}

.container .wheel {
  position: absolute;
  top: 0;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #333, 0 0 0 15px #fff, 0 0 0 18px #111;
  overflow: hidden;
  background-color: #333;
  transition: transform 5s ease-in-out;
}

.container .wheel .number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: 50%;
  background: var(--clr);
  transform-origin: var(--transform-origin);
  transform: var(--formula);
  /*   transform-origin: center; */
  /*   transform: rotate(calc(var(--deg) * var(--i))); */
  clip-path: polygon(0 0, var(--percentage) 0, 100% 100%, 0 var(--percentage));
}

.container .wheel .number span {
  z-index: -1;
  color: var(--clr);
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: capitalize;
  transform: rotate(45deg);
}

menu {
  width: clamp(368px, 368px, 745px);
}

/* #v {
  -webkit-animation: slide-bottom 2s ease-in-out infinite alternate forwards;
  animation: slide-bottom 2s ease-in-out infinite alternate forwards;
} */
/*
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}
 */
